**/.DS_Store
.vs/
.vscode/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
WindowsNoEditor/
MacNoEditor/
Android_*/
CMakeFiles/
CMakeCache.txt
MakeFile
*.cmake
**/CMakeFiles/
IOS/
*.sln
*.VC.db
*.xcworkspace
*.code-workspace
.idea
/.idea
/TPSProject.sln.DotSettings.user
/Plugins/Developer/RiderLink
/Benchmark
/Plugins/UnLua/Source/UnLuaDefaultParamCollectorUbtPlugin/obj
